[submodule "load-lisp/org-roam"]
	path = load-lisp/org-roam
	url = https://github.com/ZucchiniY/org-roam.git
	branch = goto-today
[submodule "load-lisp/org-novelist"]
	path = load-lisp/org-novelist
	url = https://github.com/ZucchiniY/org-novelist.git
[submodule "load-lisp/lspce"]
	path = load-lisp/lspce
	url = https://github.com/zbelial/lspce.git
