.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
elpa/
forge-database.sqlite
transient/
.elfeed/
custom.el
var/
**/.DS_Store
README.html
smex-items
recentf
url/
anaconda-mode/
bookmarks
.cache/
projectile-bookmarks.eld
emojis/
.org-id-locations
projectile.cache
list/
eshell/
pyim/
rime/
.lsp-session-v1
extends/mspyls/
extends/Python-Language-Server-osx-x64.0.5.45.nupkg
extends/plantuml.jar
extends/ditaa0_9.jar
librime/
auto-save-list/
.dap-breakpoints
recentf~
